# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# Next.js
/.next/

# Vercel
/.vercel/

# VSCode
/.vscode/

# Documents
/docs/

# Dependencies
/node_modules/

# Docker
/.dockerignore
/Dockerfile
/docker-compose.yaml

# Secrets
/.env
